@import "core";

@import "Header";
@import "Questions";
@import "Results";


html,
body {
  font-size: 16px;
  scroll-behavior: smooth;
  font-family: Lato, sans-serif;
  color: $black;

  #root {
    position: relative;
    overflow: hidden;

    main {
      background-color: transparent;
      width: 100%;
      margin: 0 auto;
      position: relative;
      z-index: 2;
    }
  }
}

.container {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.animate {
  opacity: 0;
}

button,
[role=button] {
  transition: .15s;
  border-radius: 0 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: Lato, sans-serif;
  color: $primary-700;
}